
/* General */

a{
    text-decoration: none  !important;
}

/* FOOTER */

.section{
    height: 100vh;
}

.footer{
    position: absolute;
    width: 100%;
    height: 2.5rem; /* Footer height */
    background-color: rgba(25, 41, 57, 1)!important;
}

.colorwhite{
    color:white!important;
}


/* NAVBAR */
.navitemStyle{
    background-color: rgba(25, 41, 57, 1) !important ;
    color:white !important;
}

.navbar{
    background-color: rgba(25, 41, 57, 1)!important;
}
  
a.navbar-item:hover {
    background-color: #1f3347!important;
    color: white!important;
}

.navbar-burger {
    color: gainsboro!important;
  }
  
.navbar-burger.is-active {
    color: #f1f1f1!important;
}
  
.navbar-menu.is-active {
    background-color: #1f3347!important;
}

.navbar-item{
   color: gainsboro!important;
}

.tabs.is-boxed li.is-active a{
    background-color: transparent;
  
}